-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ajou_library
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `booklikes`
--

DROP TABLE IF EXISTS `booklikes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `booklikes` (
  `like_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) NOT NULL,
  `book_id` int(11) NOT NULL,
  `liked_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`like_id`),
  UNIQUE KEY `unique_like` (`member_id`,`book_id`),
  KEY `idx_book_likes_member` (`member_id`),
  KEY `idx_book_likes_book` (`book_id`),
  CONSTRAINT `booklikes_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`) ON DELETE CASCADE,
  CONSTRAINT `booklikes_ibfk_2` FOREIGN KEY (`book_id`) REFERENCES `books` (`book_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booklikes`
--

LOCK TABLES `booklikes` WRITE;
/*!40000 ALTER TABLE `booklikes` DISABLE KEYS */;
INSERT INTO `booklikes` VALUES (1,1,12,'2025-12-02 07:29:27');
/*!40000 ALTER TABLE `booklikes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `books`
--

DROP TABLE IF EXISTS `books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `books` (
  `book_id` int(11) NOT NULL AUTO_INCREMENT,
  `isbn` varchar(20) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `author` varchar(255) NOT NULL,
  `publisher` varchar(100) DEFAULT NULL,
  `publish_date` date DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `total_copies` int(11) DEFAULT 1,
  `available_copies` int(11) DEFAULT 1,
  `location` varchar(100) DEFAULT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`book_id`),
  UNIQUE KEY `isbn` (`isbn`),
  KEY `idx_title` (`title`),
  KEY `idx_author` (`author`),
  KEY `idx_category` (`category`),
  KEY `idx_isbn` (`isbn`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `books`
--

LOCK TABLES `books` WRITE;
/*!40000 ALTER TABLE `books` DISABLE KEYS */;
/*!40000 ALTER TABLE `books` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loans`
--

DROP TABLE IF EXISTS `loans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loans` (
  `loan_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) NOT NULL,
  `book_id` int(11) NOT NULL,
  `loan_date` date NOT NULL DEFAULT curdate(),
  `due_date` date NOT NULL,
  `return_date` date DEFAULT NULL,
  `status` enum('borrowed','returned','overdue') DEFAULT 'borrowed',
  `renewal_count` int(11) DEFAULT 0,
  `fine_amount` decimal(10,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`loan_id`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_book_id` (`book_id`),
  KEY `idx_status` (`status`),
  KEY `idx_due_date` (`due_date`),
  CONSTRAINT `loans_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`) ON DELETE CASCADE,
  CONSTRAINT `loans_ibfk_2` FOREIGN KEY (`book_id`) REFERENCES `books` (`book_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=134 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loans`
--

LOCK TABLES `loans` WRITE;
/*!40000 ALTER TABLE `loans` DISABLE KEYS */;
/*!40000 ALTER TABLE `loans` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER after_loan_insert
AFTER INSERT ON Loans
FOR EACH ROW
BEGIN
    IF NEW.status = 'borrowed' THEN
        UPDATE Books 
        SET available_copies = available_copies - 1
        WHERE book_id = NEW.book_id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER after_loan_update
AFTER UPDATE ON Loans
FOR EACH ROW
BEGIN
    IF OLD.status = 'borrowed' AND NEW.status = 'returned' THEN
        UPDATE Books 
        SET available_copies = available_copies + 1
        WHERE book_id = NEW.book_id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `members`
--

DROP TABLE IF EXISTS `members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `members` (
  `member_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `grade` int(11) DEFAULT NULL,
  `interests` text DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `join_date` date DEFAULT curdate(),
  `status` enum('active','suspended','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`member_id`),
  UNIQUE KEY `student_id` (`student_id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_student_id` (`student_id`),
  KEY `idx_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `members`
--

LOCK TABLES `members` WRITE;
/*!40000 ALTER TABLE `members` DISABLE KEYS */;
/*!40000 ALTER TABLE `members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `overdueloans`
--

DROP TABLE IF EXISTS `overdueloans`;
/*!50001 DROP VIEW IF EXISTS `overdueloans`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `overdueloans` AS SELECT
 1 AS `loan_id`,
  1 AS `member_name`,
  1 AS `student_id`,
  1 AS `book_title`,
  1 AS `loan_date`,
  1 AS `due_date`,
  1 AS `days_overdue`,
  1 AS `fine_amount` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `popularbooks`
--

DROP TABLE IF EXISTS `popularbooks`;
/*!50001 DROP VIEW IF EXISTS `popularbooks`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `popularbooks` AS SELECT
 1 AS `book_id`,
  1 AS `title`,
  1 AS `author`,
  1 AS `category`,
  1 AS `loan_count`,
  1 AS `avg_rating` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `readinggoals`
--

DROP TABLE IF EXISTS `readinggoals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `readinggoals` (
  `goal_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) NOT NULL,
  `year` int(11) NOT NULL,
  `target_books` int(11) NOT NULL,
  `current_books` int(11) DEFAULT 0,
  `goal_description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`goal_id`),
  UNIQUE KEY `unique_goal` (`member_id`,`year`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_year` (`year`),
  CONSTRAINT `readinggoals_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `readinggoals`
--

LOCK TABLES `readinggoals` WRITE;
/*!40000 ALTER TABLE `readinggoals` DISABLE KEYS */;
/*!40000 ALTER TABLE `readinggoals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `readinghistory`
--

DROP TABLE IF EXISTS `readinghistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `readinghistory` (
  `history_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) NOT NULL,
  `book_id` int(11) NOT NULL,
  `read_date` date DEFAULT curdate(),
  `reading_time` int(11) DEFAULT NULL,
  `pages_read` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`history_id`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_book_id` (`book_id`),
  KEY `idx_read_date` (`read_date`),
  CONSTRAINT `readinghistory_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`) ON DELETE CASCADE,
  CONSTRAINT `readinghistory_ibfk_2` FOREIGN KEY (`book_id`) REFERENCES `books` (`book_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `readinghistory`
--

LOCK TABLES `readinghistory` WRITE;
/*!40000 ALTER TABLE `readinghistory` DISABLE KEYS */;
INSERT INTO `readinghistory` VALUES (1,1,1,'2024-10-14',180,100,'The Pragmatic Programmer - ?ㅼ슜二쇱쓽 ?먯튃 ?뺣━','2025-11-28 03:05:50'),(2,2,2,'2024-10-15',150,80,'Clean Code - ?대┛ 肄붾뱶 ?묒꽦 ?먯튃 ?숈뒿','2025-11-28 03:05:50');
/*!40000 ALTER TABLE `readinghistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `readingnotes`
--

DROP TABLE IF EXISTS `readingnotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `readingnotes` (
  `note_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) NOT NULL,
  `book_id` int(11) NOT NULL,
  `loan_id` int(11) DEFAULT NULL,
  `summary` text DEFAULT NULL,
  `key_points` text DEFAULT NULL,
  `favorite_quote` text DEFAULT NULL,
  `rating` int(11) DEFAULT NULL CHECK (`rating` >= 1 and `rating` <= 5),
  `tags` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`note_id`),
  KEY `loan_id` (`loan_id`),
  KEY `idx_member` (`member_id`),
  KEY `idx_book` (`book_id`),
  KEY `idx_created` (`created_at`),
  CONSTRAINT `readingnotes_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`) ON DELETE CASCADE,
  CONSTRAINT `readingnotes_ibfk_2` FOREIGN KEY (`book_id`) REFERENCES `books` (`book_id`) ON DELETE CASCADE,
  CONSTRAINT `readingnotes_ibfk_3` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`loan_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `readingnotes`
--

LOCK TABLES `readingnotes` WRITE;
/*!40000 ALTER TABLE `readingnotes` DISABLE KEYS */;
INSERT INTO `readingnotes` VALUES (1,1,12,NULL,'媛앹껜吏??,'50','?쒗뿕???섏샂',5,NULL,'2025-12-02 07:27:51','2025-12-02 07:27:51');
/*!40000 ALTER TABLE `readingnotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservations`
--

DROP TABLE IF EXISTS `reservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservations` (
  `reservation_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) NOT NULL,
  `book_id` int(11) NOT NULL,
  `reservation_date` date NOT NULL DEFAULT curdate(),
  `expiry_date` date NOT NULL,
  `status` enum('active','fulfilled','cancelled','expired') DEFAULT 'active',
  `notification_sent` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`reservation_id`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_book_id` (`book_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `reservations_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`) ON DELETE CASCADE,
  CONSTRAINT `reservations_ibfk_2` FOREIGN KEY (`book_id`) REFERENCES `books` (`book_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservations`
--

LOCK TABLES `reservations` WRITE;
/*!40000 ALTER TABLE `reservations` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reviews` (
  `review_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) NOT NULL,
  `book_id` int(11) NOT NULL,
  `rating` int(11) DEFAULT NULL CHECK (`rating` >= 1 and `rating` <= 5),
  `comment` text DEFAULT NULL,
  `review_date` date DEFAULT curdate(),
  `likes_count` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`review_id`),
  UNIQUE KEY `unique_review` (`member_id`,`book_id`),
  KEY `idx_book_id` (`book_id`),
  KEY `idx_rating` (`rating`),
  CONSTRAINT `reviews_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`) ON DELETE CASCADE,
  CONSTRAINT `reviews_ibfk_2` FOREIGN KEY (`book_id`) REFERENCES `books` (`book_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seatreservations`
--

DROP TABLE IF EXISTS `seatreservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seatreservations` (
  `reservation_id` int(11) NOT NULL AUTO_INCREMENT,
  `seat_id` int(11) NOT NULL,
  `member_id` int(11) NOT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `status` enum('active','completed','cancelled','no_show') DEFAULT 'active',
  `checked_in` tinyint(1) DEFAULT 0,
  `checked_in_time` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`reservation_id`),
  KEY `idx_member` (`member_id`),
  KEY `idx_seat` (`seat_id`),
  KEY `idx_time` (`start_time`,`end_time`),
  KEY `idx_status` (`status`),
  CONSTRAINT `seatreservations_ibfk_1` FOREIGN KEY (`seat_id`) REFERENCES `seats` (`seat_id`) ON DELETE CASCADE,
  CONSTRAINT `seatreservations_ibfk_2` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seatreservations`
--

LOCK TABLES `seatreservations` WRITE;
/*!40000 ALTER TABLE `seatreservations` DISABLE KEYS */;
INSERT INTO `seatreservations` VALUES (1,82,1,'2025-12-02 12:04:15','2025-12-02 14:04:15','cancelled',0,NULL,'2025-12-02 03:04:15'),(2,1,1,'2025-12-02 12:04:40','2025-12-02 13:04:40','active',0,NULL,'2025-12-02 03:04:40');
/*!40000 ALTER TABLE `seatreservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seats`
--

DROP TABLE IF EXISTS `seats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seats` (
  `seat_id` int(11) NOT NULL AUTO_INCREMENT,
  `zone` varchar(50) NOT NULL,
  `seat_number` int(11) NOT NULL,
  `seat_type` varchar(20) DEFAULT 'general',
  `is_available` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`seat_id`),
  UNIQUE KEY `unique_zone_seat` (`zone`,`seat_number`)
) ENGINE=InnoDB AUTO_INCREMENT=1038 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seats`
--

LOCK TABLES `seats` WRITE;
/*!40000 ALTER TABLE `seats` DISABLE KEYS */;
INSERT INTO `seats` VALUES (1,'2痢?而ㅻ??덊떚 ?쇱슫吏',1,'general',1,'2025-12-01 00:30:30'),(2,'2痢?而ㅻ??덊떚 ?쇱슫吏',2,'general',1,'2025-12-01 00:30:30'),(3,'2痢?而ㅻ??덊떚 ?쇱슫吏',3,'general',1,'2025-12-01 00:30:30'),(4,'2痢?而ㅻ??덊떚 ?쇱슫吏',4,'general',1,'2025-12-01 00:30:30'),(5,'2痢?而ㅻ??덊떚 ?쇱슫吏',5,'general',1,'2025-12-01 00:30:30'),(6,'2痢?而ㅻ??덊떚 ?쇱슫吏',6,'general',1,'2025-12-01 00:30:30'),(7,'2痢?而ㅻ??덊떚 ?쇱슫吏',7,'general',1,'2025-12-01 00:30:30'),(8,'2痢?而ㅻ??덊떚 ?쇱슫吏',8,'general',1,'2025-12-01 00:30:30'),(9,'2痢?而ㅻ??덊떚 ?쇱슫吏',9,'general',1,'2025-12-01 00:30:30'),(10,'2痢?而ㅻ??덊떚 ?쇱슫吏',10,'general',1,'2025-12-01 00:30:30'),(11,'2痢?而ㅻ??덊떚 ?쇱슫吏',11,'general',1,'2025-12-01 00:30:30'),(12,'2痢?而ㅻ??덊떚 ?쇱슫吏',12,'general',1,'2025-12-01 00:30:30'),(13,'2痢?而ㅻ??덊떚 ?쇱슫吏',13,'general',1,'2025-12-01 00:30:30'),(14,'2痢?而ㅻ??덊떚 ?쇱슫吏',14,'general',1,'2025-12-01 00:30:30'),(15,'2痢?而ㅻ??덊떚 ?쇱슫吏',15,'general',1,'2025-12-01 00:30:30'),(16,'2痢?而ㅻ??덊떚 ?쇱슫吏',16,'general',1,'2025-12-01 00:30:30'),(17,'2痢?而ㅻ??덊떚 ?쇱슫吏',17,'general',1,'2025-12-01 00:30:30'),(18,'2痢?而ㅻ??덊떚 ?쇱슫吏',18,'general',1,'2025-12-01 00:30:30'),(19,'2痢?而ㅻ??덊떚 ?쇱슫吏',19,'general',1,'2025-12-01 00:30:30'),(20,'2痢?而ㅻ??덊떚 ?쇱슫吏',20,'general',1,'2025-12-01 00:30:30'),(21,'2痢?而ㅻ??덊떚 ?쇱슫吏',21,'general',1,'2025-12-01 00:30:30'),(22,'2痢?而ㅻ??덊떚 ?쇱슫吏',22,'general',1,'2025-12-01 00:30:30'),(23,'2痢?而ㅻ??덊떚 ?쇱슫吏',23,'general',1,'2025-12-01 00:30:30'),(24,'2痢?而ㅻ??덊떚 ?쇱슫吏',24,'general',1,'2025-12-01 00:30:30'),(25,'2痢?而ㅻ??덊떚 ?쇱슫吏',25,'general',1,'2025-12-01 00:30:30'),(26,'2痢?而ㅻ??덊떚 ?쇱슫吏',26,'general',1,'2025-12-01 00:30:30'),(27,'2痢?而ㅻ??덊떚 ?쇱슫吏',27,'general',1,'2025-12-01 00:30:30'),(28,'2痢?而ㅻ??덊떚 ?쇱슫吏',28,'general',1,'2025-12-01 00:30:30'),(29,'2痢?而ㅻ??덊떚 ?쇱슫吏',29,'general',1,'2025-12-01 00:30:30'),(30,'2痢?而ㅻ??덊떚 ?쇱슫吏',30,'general',1,'2025-12-01 00:30:30'),(31,'2痢?而ㅻ??덊떚 ?쇱슫吏',31,'general',1,'2025-12-01 00:30:30'),(32,'2痢?而ㅻ??덊떚 ?쇱슫吏',32,'general',1,'2025-12-01 00:30:30'),(33,'2痢?而ㅻ??덊떚 ?쇱슫吏',33,'general',1,'2025-12-01 00:30:30'),(34,'2痢?而ㅻ??덊떚 ?쇱슫吏',34,'general',1,'2025-12-01 00:30:30'),(35,'2痢?而ㅻ??덊떚 ?쇱슫吏',35,'general',1,'2025-12-01 00:30:30'),(36,'2痢?而ㅻ??덊떚 ?쇱슫吏',36,'general',1,'2025-12-01 00:30:30'),(37,'2痢?而ㅻ??덊떚 ?쇱슫吏',37,'general',1,'2025-12-01 00:30:30'),(38,'2痢?而ㅻ??덊떚 ?쇱슫吏',38,'general',1,'2025-12-01 00:30:30'),(39,'2痢?而ㅻ??덊떚 ?쇱슫吏',39,'general',1,'2025-12-01 00:30:30'),(40,'2痢?而ㅻ??덊떚 ?쇱슫吏',40,'general',1,'2025-12-01 00:30:30'),(41,'2痢?而ㅻ??덊떚 ?쇱슫吏',41,'general',1,'2025-12-01 00:30:30'),(42,'2痢?而ㅻ??덊떚 ?쇱슫吏',42,'general',1,'2025-12-01 00:30:30'),(43,'2痢?而ㅻ??덊떚 ?쇱슫吏',43,'general',1,'2025-12-01 00:30:30'),(44,'2痢?而ㅻ??덊떚 ?쇱슫吏',44,'general',1,'2025-12-01 00:30:30'),(45,'2痢?而ㅻ??덊떚 ?쇱슫吏',45,'general',1,'2025-12-01 00:30:30'),(46,'2痢?而ㅻ??덊떚 ?쇱슫吏',46,'general',1,'2025-12-01 00:30:30'),(47,'2痢?而ㅻ??덊떚 ?쇱슫吏',47,'general',1,'2025-12-01 00:30:30'),(48,'2痢?而ㅻ??덊떚 ?쇱슫吏',48,'general',1,'2025-12-01 00:30:30'),(49,'2痢?而ㅻ??덊떚 ?쇱슫吏',49,'general',1,'2025-12-01 00:30:30'),(50,'2痢?而ㅻ??덊떚 ?쇱슫吏',50,'general',1,'2025-12-01 00:30:30'),(51,'2痢?而ㅻ??덊떚 ?쇱슫吏',51,'general',1,'2025-12-01 00:30:30'),(52,'2痢?而ㅻ??덊떚 ?쇱슫吏',52,'general',1,'2025-12-01 00:30:30'),(53,'2痢?而ㅻ??덊떚 ?쇱슫吏',53,'general',1,'2025-12-01 00:30:30'),(54,'2痢?而ㅻ??덊떚 ?쇱슫吏',54,'general',1,'2025-12-01 00:30:30'),(55,'2痢?而ㅻ??덊떚 ?쇱슫吏',55,'general',1,'2025-12-01 00:30:30'),(56,'2痢?而ㅻ??덊떚 ?쇱슫吏',56,'general',1,'2025-12-01 00:30:30'),(57,'2痢?而ㅻ??덊떚 ?쇱슫吏',57,'general',1,'2025-12-01 00:30:30'),(58,'2痢?而ㅻ??덊떚 ?쇱슫吏',58,'general',1,'2025-12-01 00:30:30'),(59,'2痢?而ㅻ??덊떚 ?쇱슫吏',59,'general',1,'2025-12-01 00:30:30'),(60,'2痢?而ㅻ??덊떚 ?쇱슫吏',60,'general',1,'2025-12-01 00:30:30'),(61,'2痢?而ㅻ??덊떚 ?쇱슫吏',61,'general',1,'2025-12-01 00:30:30'),(62,'2痢?而ㅻ??덊떚 ?쇱슫吏',62,'general',1,'2025-12-01 00:30:30'),(63,'2痢?而ㅻ??덊떚 ?쇱슫吏',63,'general',1,'2025-12-01 00:30:30'),(64,'2痢?而ㅻ??덊떚 ?쇱슫吏',64,'general',1,'2025-12-01 00:30:30'),(65,'2痢?而ㅻ??덊떚 ?쇱슫吏',65,'general',1,'2025-12-01 00:30:30'),(66,'2痢?而ㅻ??덊떚 ?쇱슫吏',66,'general',1,'2025-12-01 00:30:30'),(67,'2痢?而ㅻ??덊떚 ?쇱슫吏',67,'general',1,'2025-12-01 00:30:30'),(68,'2痢?而ㅻ??덊떚 ?쇱슫吏',68,'general',1,'2025-12-01 00:30:30'),(69,'2痢?而ㅻ??덊떚 ?쇱슫吏',69,'general',1,'2025-12-01 00:30:30'),(70,'2痢?而ㅻ??덊떚 ?쇱슫吏',70,'general',1,'2025-12-01 00:30:30'),(71,'2痢?而ㅻ??덊떚 ?쇱슫吏',71,'general',1,'2025-12-01 00:30:30'),(72,'2痢?而ㅻ??덊떚 ?쇱슫吏',72,'general',1,'2025-12-01 00:30:30'),(73,'2痢?而ㅻ??덊떚 ?쇱슫吏',73,'general',1,'2025-12-01 00:30:30'),(74,'2痢?而ㅻ??덊떚 ?쇱슫吏',74,'general',1,'2025-12-01 00:30:30'),(75,'2痢?而ㅻ??덊떚 ?쇱슫吏',75,'general',1,'2025-12-01 00:30:30'),(76,'2痢?而ㅻ??덊떚 ?쇱슫吏',76,'general',1,'2025-12-01 00:30:30'),(77,'2痢?而ㅻ??덊떚 ?쇱슫吏',77,'general',1,'2025-12-01 00:30:30'),(78,'2痢?而ㅻ??덊떚 ?쇱슫吏',78,'general',1,'2025-12-01 00:30:30'),(79,'2痢?而ㅻ??덊떚 ?쇱슫吏',79,'general',1,'2025-12-01 00:30:30'),(80,'2痢?而ㅻ??덊떚 ?쇱슫吏',80,'general',1,'2025-12-01 00:30:30'),(81,'2痢?而ㅻ??덊떚 ?쇱슫吏',81,'general',1,'2025-12-01 00:30:30'),(82,'2痢?而ㅻ??덊떚 ?쇱슫吏',82,'general',1,'2025-12-01 00:30:30'),(83,'2痢?而ㅻ??덊떚 ?쇱슫吏',83,'general',1,'2025-12-01 00:30:30'),(84,'2痢?而ㅻ??덊떚 ?쇱슫吏',84,'general',1,'2025-12-01 00:30:30'),(85,'2痢?而ㅻ??덊떚 ?쇱슫吏',85,'general',1,'2025-12-01 00:30:30'),(86,'2痢?而ㅻ??덊떚 ?쇱슫吏',86,'general',1,'2025-12-01 00:30:30'),(87,'2痢?而ㅻ??덊떚 ?쇱슫吏',87,'general',1,'2025-12-01 00:30:30'),(88,'2痢?而ㅻ??덊떚 ?쇱슫吏',88,'general',1,'2025-12-01 00:30:30'),(89,'2痢?而ㅻ??덊떚 ?쇱슫吏',89,'general',1,'2025-12-01 00:30:30'),(90,'2痢?而ㅻ??덊떚 ?쇱슫吏',90,'general',1,'2025-12-01 00:30:30'),(91,'2痢?而ㅻ??덊떚 ?쇱슫吏',91,'general',1,'2025-12-01 00:30:30'),(92,'2痢?而ㅻ??덊떚 ?쇱슫吏',92,'general',1,'2025-12-01 00:30:30'),(93,'2痢?而ㅻ??덊떚 ?쇱슫吏',93,'general',1,'2025-12-01 00:30:30'),(94,'2痢?而ㅻ??덊떚 ?쇱슫吏',94,'general',1,'2025-12-01 00:30:30'),(95,'2痢?而ㅻ??덊떚 ?쇱슫吏',95,'general',1,'2025-12-01 00:30:30'),(96,'2痢?而ㅻ??덊떚 ?쇱슫吏',96,'general',1,'2025-12-01 00:30:30'),(97,'2痢?而ㅻ??덊떚 ?쇱슫吏',97,'general',1,'2025-12-01 00:30:30'),(98,'2痢?而ㅻ??덊떚 ?쇱슫吏',98,'general',1,'2025-12-01 00:30:30'),(99,'2痢?而ㅻ??덊떚 ?쇱슫吏',99,'general',1,'2025-12-01 00:30:30'),(100,'2痢?而ㅻ??덊떚 ?쇱슫吏',100,'general',1,'2025-12-01 00:30:30'),(101,'2痢?而ㅻ??덊떚 ?쇱슫吏',101,'general',1,'2025-12-01 00:30:30'),(102,'2痢?而ㅻ??덊떚 ?쇱슫吏',102,'general',1,'2025-12-01 00:30:30'),(103,'2痢?而ㅻ??덊떚 ?쇱슫吏',103,'general',1,'2025-12-01 00:30:30'),(104,'2痢?而ㅻ??덊떚 ?쇱슫吏',104,'general',1,'2025-12-01 00:30:30'),(105,'2痢?而ㅻ??덊떚 ?쇱슫吏',105,'general',1,'2025-12-01 00:30:30'),(106,'2痢?而ㅻ??덊떚 ?쇱슫吏',106,'general',1,'2025-12-01 00:30:30'),(107,'2痢?而ㅻ??덊떚 ?쇱슫吏',107,'general',1,'2025-12-01 00:30:30'),(108,'2痢?而ㅻ??덊떚 ?쇱슫吏',108,'general',1,'2025-12-01 00:30:30'),(109,'2痢?而ㅻ??덊떚 ?쇱슫吏',109,'general',1,'2025-12-01 00:30:30'),(110,'2痢?而ㅻ??덊떚 ?쇱슫吏',110,'general',1,'2025-12-01 00:30:30'),(111,'2痢?而ㅻ??덊떚 ?쇱슫吏',111,'general',1,'2025-12-01 00:30:30'),(112,'2痢?而ㅻ??덊떚 ?쇱슫吏',112,'general',1,'2025-12-01 00:30:30'),(113,'2痢?而ㅻ??덊떚 ?쇱슫吏',113,'general',1,'2025-12-01 00:30:30'),(114,'2痢?而ㅻ??덊떚 ?쇱슫吏',114,'general',1,'2025-12-01 00:30:30'),(115,'2痢?而ㅻ??덊떚 ?쇱슫吏',115,'general',1,'2025-12-01 00:30:30'),(116,'2痢?而ㅻ??덊떚 ?쇱슫吏',116,'general',1,'2025-12-01 00:30:30'),(117,'2痢?而ㅻ??덊떚 ?쇱슫吏',117,'general',1,'2025-12-01 00:30:30'),(118,'2痢?而ㅻ??덊떚 ?쇱슫吏',118,'general',1,'2025-12-01 00:30:30'),(119,'2痢?而ㅻ??덊떚 ?쇱슫吏',119,'general',1,'2025-12-01 00:30:30'),(120,'2痢?而ㅻ??덊떚 ?쇱슫吏',120,'general',1,'2025-12-01 00:30:30'),(121,'2痢?而ㅻ??덊떚 ?쇱슫吏',121,'general',1,'2025-12-01 00:30:30'),(122,'2痢?而ㅻ??덊떚 ?쇱슫吏',122,'general',1,'2025-12-01 00:30:30'),(123,'2痢?而ㅻ??덊떚 ?쇱슫吏',123,'general',1,'2025-12-01 00:30:30'),(124,'2痢?而ㅻ??덊떚 ?쇱슫吏',124,'general',1,'2025-12-01 00:30:30'),(125,'2痢?而ㅻ??덊떚 ?쇱슫吏',125,'general',1,'2025-12-01 00:30:30'),(126,'2痢?而ㅻ??덊떚 ?쇱슫吏',126,'general',1,'2025-12-01 00:30:30'),(127,'2痢?而ㅻ??덊떚 ?쇱슫吏',127,'general',1,'2025-12-01 00:30:30'),(128,'2痢?而ㅻ??덊떚 ?쇱슫吏',128,'general',1,'2025-12-01 00:30:30'),(129,'2痢?而ㅻ??덊떚 ?쇱슫吏',129,'general',1,'2025-12-01 00:30:30'),(130,'2痢?而ㅻ??덊떚 ?쇱슫吏',130,'general',1,'2025-12-01 00:30:30'),(131,'2痢?而ㅻ??덊떚 ?쇱슫吏',131,'general',1,'2025-12-01 00:30:30'),(132,'2痢?而ㅻ??덊떚 ?쇱슫吏',132,'general',1,'2025-12-01 00:30:30'),(133,'2痢?而ㅻ??덊떚 ?쇱슫吏',133,'general',1,'2025-12-01 00:30:30'),(134,'2痢?而ㅻ??덊떚 ?쇱슫吏',134,'general',1,'2025-12-01 00:30:30'),(135,'2痢?而ㅻ??덊떚 ?쇱슫吏',135,'general',1,'2025-12-01 00:30:30'),(136,'2痢?而ㅻ??덊떚 ?쇱슫吏',136,'general',1,'2025-12-01 00:30:30'),(137,'2痢?而ㅻ??덊떚 ?쇱슫吏',137,'general',1,'2025-12-01 00:30:30'),(138,'2痢?而ㅻ??덊떚 ?쇱슫吏',138,'general',1,'2025-12-01 00:30:30'),(139,'2痢?而ㅻ??덊떚 ?쇱슫吏',139,'general',1,'2025-12-01 00:30:30'),(140,'2痢?而ㅻ??덊떚 ?쇱슫吏',140,'general',1,'2025-12-01 00:30:30'),(141,'2痢?而ㅻ??덊떚 ?쇱슫吏',141,'general',1,'2025-12-01 00:30:30'),(142,'2痢?而ㅻ??덊떚 ?쇱슫吏',142,'general',1,'2025-12-01 00:30:30'),(143,'2痢?而ㅻ??덊떚 ?쇱슫吏',143,'general',1,'2025-12-01 00:30:30'),(144,'2痢?而ㅻ??덊떚 ?쇱슫吏',144,'general',1,'2025-12-01 00:30:30'),(145,'2痢?而ㅻ??덊떚 ?쇱슫吏',145,'general',1,'2025-12-01 00:30:30'),(146,'2痢?而ㅻ??덊떚 ?쇱슫吏',146,'general',1,'2025-12-01 00:30:30'),(147,'2痢?而ㅻ??덊떚 ?쇱슫吏',147,'general',1,'2025-12-01 00:30:30'),(148,'2痢?而ㅻ??덊떚 ?쇱슫吏',148,'general',1,'2025-12-01 00:30:30'),(149,'2痢?而ㅻ??덊떚 ?쇱슫吏',149,'general',1,'2025-12-01 00:30:30'),(150,'2痢?而ㅻ??덊떚 ?쇱슫吏',150,'general',1,'2025-12-01 00:30:30'),(151,'2痢?而ㅻ??덊떚 ?쇱슫吏',151,'general',1,'2025-12-01 00:30:30'),(152,'2痢?而ㅻ??덊떚 ?쇱슫吏',152,'general',1,'2025-12-01 00:30:30'),(153,'2痢?而ㅻ??덊떚 ?쇱슫吏',153,'general',1,'2025-12-01 00:30:30'),(154,'2痢?而ㅻ??덊떚 ?쇱슫吏',154,'general',1,'2025-12-01 00:30:30'),(155,'2痢?而ㅻ??덊떚 ?쇱슫吏',155,'general',1,'2025-12-01 00:30:30'),(156,'2痢?而ㅻ??덊떚 ?쇱슫吏',156,'general',1,'2025-12-01 00:30:30'),(157,'2痢?而ㅻ??덊떚 ?쇱슫吏',157,'general',1,'2025-12-01 00:30:30'),(158,'2痢?而ㅻ??덊떚 ?쇱슫吏',158,'general',1,'2025-12-01 00:30:30'),(159,'2痢?而ㅻ??덊떚 ?쇱슫吏',159,'general',1,'2025-12-01 00:30:30'),(160,'2痢?而ㅻ??덊떚 ?쇱슫吏',160,'general',1,'2025-12-01 00:30:30'),(161,'2痢?而ㅻ??덊떚 ?쇱슫吏',161,'general',1,'2025-12-01 00:30:30'),(162,'2痢?而ㅻ??덊떚 ?쇱슫吏',162,'general',1,'2025-12-01 00:30:30'),(163,'2痢?而ㅻ??덊떚 ?쇱슫吏',163,'general',1,'2025-12-01 00:30:30'),(164,'2痢?而ㅻ??덊떚 ?쇱슫吏',164,'general',1,'2025-12-01 00:30:30'),(165,'2痢?而ㅻ??덊떚 ?쇱슫吏',165,'general',1,'2025-12-01 00:30:30'),(166,'2痢?而ㅻ??덊떚 ?쇱슫吏',166,'general',1,'2025-12-01 00:30:30'),(167,'2痢?而ㅻ??덊떚 ?쇱슫吏',167,'general',1,'2025-12-01 00:30:30'),(168,'2痢?而ㅻ??덊떚 ?쇱슫吏',168,'general',1,'2025-12-01 00:30:30'),(169,'2痢?而ㅻ??덊떚 ?쇱슫吏',169,'general',1,'2025-12-01 00:30:30'),(170,'2痢?而ㅻ??덊떚 ?쇱슫吏',170,'general',1,'2025-12-01 00:30:30'),(171,'2痢?而ㅻ??덊떚 ?쇱슫吏',171,'general',1,'2025-12-01 00:30:30'),(172,'2痢?而ㅻ??덊떚 ?쇱슫吏',172,'general',1,'2025-12-01 00:30:30'),(173,'2痢?而ㅻ??덊떚 ?쇱슫吏',173,'general',1,'2025-12-01 00:30:30'),(174,'2痢?而ㅻ??덊떚 ?쇱슫吏',174,'general',1,'2025-12-01 00:30:30'),(175,'2痢?而ㅻ??덊떚 ?쇱슫吏',175,'general',1,'2025-12-01 00:30:30'),(176,'2痢?而ㅻ??덊떚 ?쇱슫吏',176,'general',1,'2025-12-01 00:30:30'),(177,'2痢?而ㅻ??덊떚 ?쇱슫吏',177,'general',1,'2025-12-01 00:30:30'),(256,'3痢??대엺??,1,'general',1,'2025-12-01 00:30:30'),(257,'3痢??대엺??,2,'general',1,'2025-12-01 00:30:30'),(258,'3痢??대엺??,3,'general',1,'2025-12-01 00:30:30'),(259,'3痢??대엺??,4,'general',1,'2025-12-01 00:30:30'),(260,'3痢??대엺??,5,'general',1,'2025-12-01 00:30:30'),(261,'3痢??대엺??,6,'general',1,'2025-12-01 00:30:30'),(262,'3痢??대엺??,7,'general',1,'2025-12-01 00:30:30'),(263,'3痢??대엺??,8,'general',1,'2025-12-01 00:30:30'),(264,'3痢??대엺??,9,'general',1,'2025-12-01 00:30:30'),(265,'3痢??대엺??,10,'general',1,'2025-12-01 00:30:30'),(266,'3痢??대엺??,11,'general',1,'2025-12-01 00:30:30'),(267,'3痢??대엺??,12,'general',1,'2025-12-01 00:30:30'),(268,'3痢??대엺??,13,'general',1,'2025-12-01 00:30:30'),(269,'3痢??대엺??,14,'general',1,'2025-12-01 00:30:30'),(270,'3痢??대엺??,15,'general',1,'2025-12-01 00:30:30'),(271,'3痢??대엺??,16,'general',1,'2025-12-01 00:30:30'),(272,'3痢??대엺??,17,'general',1,'2025-12-01 00:30:30'),(273,'3痢??대엺??,18,'general',1,'2025-12-01 00:30:30'),(274,'3痢??대엺??,19,'general',1,'2025-12-01 00:30:30'),(275,'3痢??대엺??,20,'general',1,'2025-12-01 00:30:30'),(276,'3痢??대엺??,21,'general',1,'2025-12-01 00:30:30'),(277,'3痢??대엺??,22,'general',1,'2025-12-01 00:30:30'),(278,'3痢??대엺??,23,'general',1,'2025-12-01 00:30:30'),(279,'3痢??대엺??,24,'general',1,'2025-12-01 00:30:30'),(280,'3痢??대엺??,25,'general',1,'2025-12-01 00:30:30'),(281,'3痢??대엺??,26,'general',1,'2025-12-01 00:30:30'),(282,'3痢??대엺??,27,'general',1,'2025-12-01 00:30:30'),(283,'3痢??대엺??,28,'general',1,'2025-12-01 00:30:30'),(284,'3痢??대엺??,29,'general',1,'2025-12-01 00:30:30'),(285,'3痢??대엺??,30,'general',1,'2025-12-01 00:30:30'),(286,'3痢??대엺??,31,'general',1,'2025-12-01 00:30:30'),(287,'3痢??대엺??,32,'general',1,'2025-12-01 00:30:30'),(288,'3痢??대엺??,33,'general',1,'2025-12-01 00:30:30'),(289,'3痢??대엺??,34,'general',1,'2025-12-01 00:30:30'),(290,'3痢??대엺??,35,'general',1,'2025-12-01 00:30:30'),(291,'3痢??대엺??,36,'general',1,'2025-12-01 00:30:30'),(292,'3痢??대엺??,37,'general',1,'2025-12-01 00:30:30'),(293,'3痢??대엺??,38,'general',1,'2025-12-01 00:30:30'),(294,'3痢??대엺??,39,'general',1,'2025-12-01 00:30:30'),(295,'3痢??대엺??,40,'general',1,'2025-12-01 00:30:30'),(296,'3痢??대엺??,41,'general',1,'2025-12-01 00:30:30'),(297,'3痢??대엺??,42,'general',1,'2025-12-01 00:30:30'),(298,'3痢??대엺??,43,'general',1,'2025-12-01 00:30:30'),(299,'3痢??대엺??,44,'general',1,'2025-12-01 00:30:30'),(300,'3痢??대엺??,45,'general',1,'2025-12-01 00:30:30'),(301,'3痢??대엺??,46,'general',1,'2025-12-01 00:30:30'),(302,'3痢??대엺??,47,'general',1,'2025-12-01 00:30:30'),(303,'3痢??대엺??,48,'general',1,'2025-12-01 00:30:30'),(304,'3痢??대엺??,49,'general',1,'2025-12-01 00:30:30'),(305,'3痢??대엺??,50,'general',1,'2025-12-01 00:30:30'),(306,'3痢??대엺??,51,'general',1,'2025-12-01 00:30:30'),(307,'3痢??대엺??,52,'general',1,'2025-12-01 00:30:30'),(308,'3痢??대엺??,53,'general',1,'2025-12-01 00:30:30'),(309,'3痢??대엺??,54,'general',1,'2025-12-01 00:30:30'),(310,'3痢??대엺??,55,'general',1,'2025-12-01 00:30:30'),(311,'3痢??대엺??,56,'general',1,'2025-12-01 00:30:30'),(312,'3痢??대엺??,57,'general',1,'2025-12-01 00:30:30'),(313,'3痢??대엺??,58,'general',1,'2025-12-01 00:30:30'),(314,'3痢??대엺??,59,'general',1,'2025-12-01 00:30:30'),(315,'3痢??대엺??,60,'general',1,'2025-12-01 00:30:30'),(316,'3痢??대엺??,61,'general',1,'2025-12-01 00:30:30'),(317,'3痢??대엺??,62,'general',1,'2025-12-01 00:30:30'),(318,'3痢??대엺??,63,'general',1,'2025-12-01 00:30:30'),(319,'3痢??대엺??,64,'general',1,'2025-12-01 00:30:30'),(320,'3痢??대엺??,65,'general',1,'2025-12-01 00:30:30'),(321,'3痢??대엺??,66,'general',1,'2025-12-01 00:30:30'),(322,'3痢??대엺??,67,'general',1,'2025-12-01 00:30:30'),(323,'3痢??대엺??,68,'general',1,'2025-12-01 00:30:30'),(324,'3痢??대엺??,69,'general',1,'2025-12-01 00:30:30'),(325,'3痢??대엺??,70,'general',1,'2025-12-01 00:30:30'),(326,'3痢??대엺??,71,'general',1,'2025-12-01 00:30:30'),(327,'3痢??대엺??,72,'general',1,'2025-12-01 00:30:30'),(328,'3痢??대엺??,73,'general',1,'2025-12-01 00:30:30'),(329,'3痢??대엺??,74,'general',1,'2025-12-01 00:30:30'),(330,'3痢??대엺??,75,'general',1,'2025-12-01 00:30:30'),(331,'3痢??대엺??,76,'general',1,'2025-12-01 00:30:30'),(332,'3痢??대엺??,77,'general',1,'2025-12-01 00:30:30'),(333,'3痢??대엺??,78,'general',1,'2025-12-01 00:30:30'),(334,'3痢??대엺??,79,'general',1,'2025-12-01 00:30:30'),(335,'3痢??대엺??,80,'general',1,'2025-12-01 00:30:30'),(336,'3痢??대엺??,81,'general',1,'2025-12-01 00:30:30'),(337,'3痢??대엺??,82,'general',1,'2025-12-01 00:30:30'),(338,'3痢??대엺??,83,'general',1,'2025-12-01 00:30:30'),(339,'3痢??대엺??,84,'general',1,'2025-12-01 00:30:30'),(340,'3痢??대엺??,85,'general',1,'2025-12-01 00:30:30'),(341,'3痢??대엺??,86,'general',1,'2025-12-01 00:30:30'),(342,'3痢??대엺??,87,'general',1,'2025-12-01 00:30:30'),(343,'3痢??대엺??,88,'general',1,'2025-12-01 00:30:30'),(344,'3痢??대엺??,89,'general',1,'2025-12-01 00:30:30'),(345,'3痢??대엺??,90,'general',1,'2025-12-01 00:30:30'),(346,'3痢??대엺??,91,'general',1,'2025-12-01 00:30:30'),(347,'3痢??대엺??,92,'general',1,'2025-12-01 00:30:30'),(348,'3痢??대엺??,93,'general',1,'2025-12-01 00:30:30'),(349,'3痢??대엺??,94,'general',1,'2025-12-01 00:30:30'),(350,'3痢??대엺??,95,'general',1,'2025-12-01 00:30:30'),(351,'3痢??대엺??,96,'general',1,'2025-12-01 00:30:30'),(352,'3痢??대엺??,97,'general',1,'2025-12-01 00:30:30'),(353,'3痢??대엺??,98,'general',1,'2025-12-01 00:30:30'),(354,'3痢??대엺??,99,'general',1,'2025-12-01 00:30:30'),(355,'3痢??대엺??,100,'general',1,'2025-12-01 00:30:30'),(356,'3痢??대엺??,101,'general',1,'2025-12-01 00:30:30'),(357,'3痢??대엺??,102,'general',1,'2025-12-01 00:30:30'),(358,'3痢??대엺??,103,'general',1,'2025-12-01 00:30:30'),(359,'3痢??대엺??,104,'general',1,'2025-12-01 00:30:30'),(360,'3痢??대엺??,105,'general',1,'2025-12-01 00:30:30'),(361,'3痢??대엺??,106,'general',1,'2025-12-01 00:30:30'),(362,'3痢??대엺??,107,'general',1,'2025-12-01 00:30:30'),(363,'3痢??대엺??,108,'general',1,'2025-12-01 00:30:30'),(364,'3痢??대엺??,109,'general',1,'2025-12-01 00:30:30'),(365,'3痢??대엺??,110,'general',1,'2025-12-01 00:30:30'),(366,'3痢??대엺??,111,'general',1,'2025-12-01 00:30:30'),(367,'3痢??대엺??,112,'general',1,'2025-12-01 00:30:30'),(368,'3痢??대엺??,113,'general',1,'2025-12-01 00:30:30'),(369,'3痢??대엺??,114,'general',1,'2025-12-01 00:30:30'),(370,'3痢??대엺??,115,'general',1,'2025-12-01 00:30:30'),(371,'3痢??대엺??,116,'general',1,'2025-12-01 00:30:30'),(372,'3痢??대엺??,117,'general',1,'2025-12-01 00:30:30'),(373,'3痢??대엺??,118,'general',1,'2025-12-01 00:30:30'),(374,'3痢??대엺??,119,'general',1,'2025-12-01 00:30:30'),(375,'3痢??대엺??,120,'general',1,'2025-12-01 00:30:30'),(376,'3痢??대엺??,121,'general',1,'2025-12-01 00:30:30'),(377,'3痢??대엺??,122,'general',1,'2025-12-01 00:30:30'),(378,'3痢??대엺??,123,'general',1,'2025-12-01 00:30:30'),(379,'3痢??대엺??,124,'general',1,'2025-12-01 00:30:30'),(380,'3痢??대엺??,125,'general',1,'2025-12-01 00:30:30'),(381,'3痢??대엺??,126,'general',1,'2025-12-01 00:30:30'),(382,'3痢??대엺??,127,'general',1,'2025-12-01 00:30:30'),(383,'3痢??대엺??,128,'general',1,'2025-12-01 00:30:30'),(384,'3痢??대엺??,129,'general',1,'2025-12-01 00:30:30'),(385,'3痢??대엺??,130,'general',1,'2025-12-01 00:30:30'),(386,'3痢??대엺??,131,'general',1,'2025-12-01 00:30:30'),(387,'3痢??대엺??,132,'general',1,'2025-12-01 00:30:30'),(388,'3痢??대엺??,133,'general',1,'2025-12-01 00:30:30'),(389,'3痢??대엺??,134,'general',1,'2025-12-01 00:30:30'),(390,'3痢??대엺??,135,'general',1,'2025-12-01 00:30:30'),(391,'3痢??대엺??,136,'general',1,'2025-12-01 00:30:30'),(392,'3痢??대엺??,137,'general',1,'2025-12-01 00:30:30'),(393,'3痢??대엺??,138,'general',1,'2025-12-01 00:30:30'),(394,'3痢??대엺??,139,'general',1,'2025-12-01 00:30:30'),(395,'3痢??대엺??,140,'general',1,'2025-12-01 00:30:30'),(396,'3痢??대엺??,141,'general',1,'2025-12-01 00:30:30'),(397,'3痢??대엺??,142,'general',1,'2025-12-01 00:30:30'),(398,'3痢??대엺??,143,'general',1,'2025-12-01 00:30:30'),(399,'3痢??대엺??,144,'general',1,'2025-12-01 00:30:30'),(400,'3痢??대엺??,145,'general',1,'2025-12-01 00:30:30'),(401,'3痢??대엺??,146,'general',1,'2025-12-01 00:30:30'),(402,'3痢??대엺??,147,'general',1,'2025-12-01 00:30:30'),(403,'3痢??대엺??,148,'general',1,'2025-12-01 00:30:30'),(404,'3痢??대엺??,149,'general',1,'2025-12-01 00:30:30'),(405,'3痢??대엺??,150,'general',1,'2025-12-01 00:30:30'),(406,'3痢??대엺??,151,'general',1,'2025-12-01 00:30:30'),(407,'3痢??대엺??,152,'general',1,'2025-12-01 00:30:30'),(408,'3痢??대엺??,153,'general',1,'2025-12-01 00:30:30'),(409,'3痢??대엺??,154,'general',1,'2025-12-01 00:30:30'),(410,'3痢??대엺??,155,'general',1,'2025-12-01 00:30:30'),(411,'3痢??대엺??,156,'general',1,'2025-12-01 00:30:30'),(412,'3痢??대엺??,157,'general',1,'2025-12-01 00:30:30'),(413,'3痢??대엺??,158,'general',1,'2025-12-01 00:30:30'),(414,'3痢??대엺??,159,'general',1,'2025-12-01 00:30:30'),(415,'3痢??대엺??,160,'general',1,'2025-12-01 00:30:30'),(416,'3痢??대엺??,161,'general',1,'2025-12-01 00:30:30'),(417,'3痢??대엺??,162,'general',1,'2025-12-01 00:30:30'),(418,'3痢??대엺??,163,'general',1,'2025-12-01 00:30:30'),(419,'3痢??대엺??,164,'general',1,'2025-12-01 00:30:30'),(420,'3痢??대엺??,165,'general',1,'2025-12-01 00:30:30'),(421,'3痢??대엺??,166,'general',1,'2025-12-01 00:30:30'),(422,'3痢??대엺??,167,'general',1,'2025-12-01 00:30:30'),(423,'3痢??대엺??,168,'general',1,'2025-12-01 00:30:30'),(424,'3痢??대엺??,169,'general',1,'2025-12-01 00:30:30'),(425,'3痢??대엺??,170,'general',1,'2025-12-01 00:30:30'),(426,'3痢??대엺??,171,'general',1,'2025-12-01 00:30:30'),(427,'3痢??대엺??,172,'general',1,'2025-12-01 00:30:30'),(428,'3痢??대엺??,173,'general',1,'2025-12-01 00:30:30'),(429,'3痢??대엺??,174,'general',1,'2025-12-01 00:30:30'),(430,'3痢??대엺??,175,'general',1,'2025-12-01 00:30:30'),(431,'3痢??대엺??,176,'general',1,'2025-12-01 00:30:30'),(432,'3痢??대엺??,177,'general',1,'2025-12-01 00:30:30'),(433,'3痢??대엺??,178,'general',1,'2025-12-01 00:30:30'),(434,'3痢??대엺??,179,'general',1,'2025-12-01 00:30:30'),(435,'3痢??대엺??,180,'general',1,'2025-12-01 00:30:30'),(436,'3痢??대엺??,181,'general',1,'2025-12-01 00:30:30'),(437,'3痢??대엺??,182,'general',1,'2025-12-01 00:30:30'),(438,'3痢??대엺??,183,'general',1,'2025-12-01 00:30:30'),(439,'3痢??대엺??,184,'general',1,'2025-12-01 00:30:30'),(440,'3痢??대엺??,185,'general',1,'2025-12-01 00:30:30'),(441,'3痢??대엺??,186,'general',1,'2025-12-01 00:30:30'),(442,'3痢??대엺??,187,'general',1,'2025-12-01 00:30:30'),(443,'3痢??대엺??,188,'general',1,'2025-12-01 00:30:30'),(444,'3痢??대엺??,189,'general',1,'2025-12-01 00:30:30'),(445,'3痢??대엺??,190,'general',1,'2025-12-01 00:30:30'),(446,'3痢??대엺??,191,'general',1,'2025-12-01 00:30:30'),(447,'3痢??대엺??,192,'general',1,'2025-12-01 00:30:30'),(448,'3痢??대엺??,193,'general',1,'2025-12-01 00:30:30'),(449,'3痢??대엺??,194,'general',1,'2025-12-01 00:30:30'),(450,'3痢??대엺??,195,'general',1,'2025-12-01 00:30:30'),(451,'3痢??대엺??,196,'general',1,'2025-12-01 00:30:30'),(452,'3痢??대엺??,197,'general',1,'2025-12-01 00:30:30'),(453,'3痢??대엺??,198,'general',1,'2025-12-01 00:30:30'),(454,'3痢??대엺??,199,'general',1,'2025-12-01 00:30:30'),(455,'3痢??대엺??,200,'general',1,'2025-12-01 00:30:30'),(456,'3痢??대엺??,201,'general',1,'2025-12-01 00:30:30'),(457,'3痢??대엺??,202,'general',1,'2025-12-01 00:30:30'),(458,'3痢??대엺??,203,'general',1,'2025-12-01 00:30:30'),(459,'3痢??대엺??,204,'general',1,'2025-12-01 00:30:30'),(460,'3痢??대엺??,205,'general',1,'2025-12-01 00:30:30'),(461,'3痢??대엺??,206,'general',1,'2025-12-01 00:30:30'),(462,'3痢??대엺??,207,'general',1,'2025-12-01 00:30:30'),(463,'3痢??대엺??,208,'general',1,'2025-12-01 00:30:30'),(464,'3痢??대엺??,209,'general',1,'2025-12-01 00:30:30'),(465,'3痢??대엺??,210,'general',1,'2025-12-01 00:30:30'),(466,'3痢??대엺??,211,'general',1,'2025-12-01 00:30:30'),(467,'3痢??대엺??,212,'general',1,'2025-12-01 00:30:30'),(468,'3痢??대엺??,213,'general',1,'2025-12-01 00:30:30'),(469,'3痢??대엺??,214,'general',1,'2025-12-01 00:30:30'),(470,'3痢??대엺??,215,'general',1,'2025-12-01 00:30:30'),(471,'3痢??대엺??,216,'general',1,'2025-12-01 00:30:30'),(472,'3痢??대엺??,217,'general',1,'2025-12-01 00:30:30'),(473,'3痢??대엺??,218,'general',1,'2025-12-01 00:30:30'),(474,'3痢??대엺??,219,'general',1,'2025-12-01 00:30:30'),(475,'3痢??대엺??,220,'general',1,'2025-12-01 00:30:30'),(476,'3痢??대엺??,221,'general',1,'2025-12-01 00:30:30'),(477,'3痢??대엺??,222,'general',1,'2025-12-01 00:30:30'),(478,'3痢??대엺??,223,'general',1,'2025-12-01 00:30:30'),(479,'3痢??대엺??,224,'general',1,'2025-12-01 00:30:30'),(480,'3痢??대엺??,225,'general',1,'2025-12-01 00:30:30'),(481,'3痢??대엺??,226,'general',1,'2025-12-01 00:30:30'),(482,'3痢??대엺??,227,'general',1,'2025-12-01 00:30:30'),(483,'3痢??대엺??,228,'general',1,'2025-12-01 00:30:30'),(484,'3痢??대엺??,229,'general',1,'2025-12-01 00:30:30'),(485,'3痢??대엺??,230,'general',1,'2025-12-01 00:30:30'),(486,'3痢??대엺??,231,'general',1,'2025-12-01 00:30:30'),(487,'3痢??대엺??,232,'general',1,'2025-12-01 00:30:30'),(488,'3痢??대엺??,233,'general',1,'2025-12-01 00:30:30'),(489,'3痢??대엺??,234,'general',1,'2025-12-01 00:30:30'),(490,'3痢??대엺??,235,'general',1,'2025-12-01 00:30:30'),(491,'3痢??대엺??,236,'general',1,'2025-12-01 00:30:30'),(492,'3痢??대엺??,237,'general',1,'2025-12-01 00:30:30'),(493,'3痢??대엺??,238,'general',1,'2025-12-01 00:30:30'),(494,'3痢??대엺??,239,'general',1,'2025-12-01 00:30:30'),(495,'3痢??대엺??,240,'general',1,'2025-12-01 00:30:30'),(496,'3痢??대엺??,241,'general',1,'2025-12-01 00:30:30'),(497,'3痢??대엺??,242,'general',1,'2025-12-01 00:30:30'),(498,'3痢??대엺??,243,'general',1,'2025-12-01 00:30:30'),(499,'3痢??대엺??,244,'general',1,'2025-12-01 00:30:30'),(500,'3痢??대엺??,245,'general',1,'2025-12-01 00:30:30'),(501,'3痢??대엺??,246,'general',1,'2025-12-01 00:30:30'),(502,'3痢??대엺??,247,'general',1,'2025-12-01 00:30:30'),(503,'3痢??대엺??,248,'general',1,'2025-12-01 00:30:30'),(504,'3痢??대엺??,249,'general',1,'2025-12-01 00:30:30'),(511,'4痢??ㅽ꽣???쇱슫吏',1,'general',1,'2025-12-01 00:30:30'),(512,'4痢??ㅽ꽣???쇱슫吏',2,'general',1,'2025-12-01 00:30:30'),(513,'4痢??ㅽ꽣???쇱슫吏',3,'general',1,'2025-12-01 00:30:30'),(514,'4痢??ㅽ꽣???쇱슫吏',4,'general',1,'2025-12-01 00:30:30'),(515,'4痢??ㅽ꽣???쇱슫吏',5,'general',1,'2025-12-01 00:30:30'),(516,'4痢??ㅽ꽣???쇱슫吏',6,'general',1,'2025-12-01 00:30:30'),(517,'4痢??ㅽ꽣???쇱슫吏',7,'general',1,'2025-12-01 00:30:30'),(518,'4痢??ㅽ꽣???쇱슫吏',8,'general',1,'2025-12-01 00:30:30'),(519,'4痢??ㅽ꽣???쇱슫吏',9,'general',1,'2025-12-01 00:30:30'),(520,'4痢??ㅽ꽣???쇱슫吏',10,'general',1,'2025-12-01 00:30:30'),(521,'4痢??ㅽ꽣???쇱슫吏',11,'general',1,'2025-12-01 00:30:30'),(522,'4痢??ㅽ꽣???쇱슫吏',12,'general',1,'2025-12-01 00:30:30'),(523,'4痢??ㅽ꽣???쇱슫吏',13,'general',1,'2025-12-01 00:30:30'),(524,'4痢??ㅽ꽣???쇱슫吏',14,'general',1,'2025-12-01 00:30:30'),(525,'4痢??ㅽ꽣???쇱슫吏',15,'general',1,'2025-12-01 00:30:30'),(526,'4痢??ㅽ꽣???쇱슫吏',16,'general',1,'2025-12-01 00:30:30'),(527,'4痢??ㅽ꽣???쇱슫吏',17,'general',1,'2025-12-01 00:30:30'),(528,'4痢??ㅽ꽣???쇱슫吏',18,'general',1,'2025-12-01 00:30:30'),(529,'4痢??ㅽ꽣???쇱슫吏',19,'general',1,'2025-12-01 00:30:30'),(530,'4痢??ㅽ꽣???쇱슫吏',20,'general',1,'2025-12-01 00:30:30'),(531,'4痢??ㅽ꽣???쇱슫吏',21,'general',1,'2025-12-01 00:30:30'),(532,'4痢??ㅽ꽣???쇱슫吏',22,'general',1,'2025-12-01 00:30:30'),(533,'4痢??ㅽ꽣???쇱슫吏',23,'general',1,'2025-12-01 00:30:30'),(534,'4痢??ㅽ꽣???쇱슫吏',24,'general',1,'2025-12-01 00:30:30'),(535,'4痢??ㅽ꽣???쇱슫吏',25,'general',1,'2025-12-01 00:30:30'),(536,'4痢??ㅽ꽣???쇱슫吏',26,'general',1,'2025-12-01 00:30:30'),(537,'4痢??ㅽ꽣???쇱슫吏',27,'general',1,'2025-12-01 00:30:30'),(538,'4痢??ㅽ꽣???쇱슫吏',28,'general',1,'2025-12-01 00:30:30'),(539,'4痢??ㅽ꽣???쇱슫吏',29,'general',1,'2025-12-01 00:30:30'),(540,'4痢??ㅽ꽣???쇱슫吏',30,'general',1,'2025-12-01 00:30:30'),(541,'4痢??ㅽ꽣???쇱슫吏',31,'general',1,'2025-12-01 00:30:30'),(542,'4痢??ㅽ꽣???쇱슫吏',32,'general',1,'2025-12-01 00:30:30'),(543,'4痢??ㅽ꽣???쇱슫吏',33,'general',1,'2025-12-01 00:30:30'),(544,'4痢??ㅽ꽣???쇱슫吏',34,'general',1,'2025-12-01 00:30:30'),(545,'4痢??ㅽ꽣???쇱슫吏',35,'general',1,'2025-12-01 00:30:30'),(546,'4痢??ㅽ꽣???쇱슫吏',36,'general',1,'2025-12-01 00:30:30'),(547,'4痢??ㅽ꽣???쇱슫吏',37,'general',1,'2025-12-01 00:30:30'),(548,'4痢??ㅽ꽣???쇱슫吏',38,'general',1,'2025-12-01 00:30:30'),(549,'4痢??ㅽ꽣???쇱슫吏',39,'general',1,'2025-12-01 00:30:30'),(550,'4痢??ㅽ꽣???쇱슫吏',40,'general',1,'2025-12-01 00:30:30'),(551,'4痢??ㅽ꽣???쇱슫吏',41,'general',1,'2025-12-01 00:30:30'),(552,'4痢??ㅽ꽣???쇱슫吏',42,'general',1,'2025-12-01 00:30:30'),(553,'4痢??ㅽ꽣???쇱슫吏',43,'general',1,'2025-12-01 00:30:30'),(554,'4痢??ㅽ꽣???쇱슫吏',44,'general',1,'2025-12-01 00:30:30'),(555,'4痢??ㅽ꽣???쇱슫吏',45,'general',1,'2025-12-01 00:30:30'),(556,'4痢??ㅽ꽣???쇱슫吏',46,'general',1,'2025-12-01 00:30:30'),(557,'4痢??ㅽ꽣???쇱슫吏',47,'general',1,'2025-12-01 00:30:30'),(558,'4痢??ㅽ꽣???쇱슫吏',48,'general',1,'2025-12-01 00:30:30'),(559,'4痢??ㅽ꽣???쇱슫吏',49,'general',1,'2025-12-01 00:30:30'),(560,'4痢??ㅽ꽣???쇱슫吏',50,'general',1,'2025-12-01 00:30:30'),(561,'4痢??ㅽ꽣???쇱슫吏',51,'general',1,'2025-12-01 00:30:30'),(562,'4痢??ㅽ꽣???쇱슫吏',52,'general',1,'2025-12-01 00:30:30'),(563,'4痢??ㅽ꽣???쇱슫吏',53,'general',1,'2025-12-01 00:30:30'),(564,'4痢??ㅽ꽣???쇱슫吏',54,'general',1,'2025-12-01 00:30:30'),(565,'4痢??ㅽ꽣???쇱슫吏',55,'general',1,'2025-12-01 00:30:30'),(566,'4痢??ㅽ꽣???쇱슫吏',56,'general',1,'2025-12-01 00:30:30'),(567,'4痢??ㅽ꽣???쇱슫吏',57,'general',1,'2025-12-01 00:30:30'),(568,'4痢??ㅽ꽣???쇱슫吏',58,'general',1,'2025-12-01 00:30:30'),(569,'4痢??ㅽ꽣???쇱슫吏',59,'general',1,'2025-12-01 00:30:30'),(570,'4痢??ㅽ꽣???쇱슫吏',60,'general',1,'2025-12-01 00:30:30'),(571,'4痢??ㅽ꽣???쇱슫吏',61,'general',1,'2025-12-01 00:30:30'),(572,'4痢??ㅽ꽣???쇱슫吏',62,'general',1,'2025-12-01 00:30:30'),(573,'4痢??ㅽ꽣???쇱슫吏',63,'general',1,'2025-12-01 00:30:30'),(574,'4痢??ㅽ꽣???쇱슫吏',64,'general',1,'2025-12-01 00:30:30'),(575,'4痢??ㅽ꽣???쇱슫吏',65,'general',1,'2025-12-01 00:30:30'),(576,'4痢??ㅽ꽣???쇱슫吏',66,'general',1,'2025-12-01 00:30:30'),(577,'4痢??ㅽ꽣???쇱슫吏',67,'general',1,'2025-12-01 00:30:30'),(578,'4痢??ㅽ꽣???쇱슫吏',68,'general',1,'2025-12-01 00:30:30'),(579,'4痢??ㅽ꽣???쇱슫吏',69,'general',1,'2025-12-01 00:30:30'),(580,'4痢??ㅽ꽣???쇱슫吏',70,'general',1,'2025-12-01 00:30:30'),(581,'4痢??ㅽ꽣???쇱슫吏',71,'general',1,'2025-12-01 00:30:30'),(582,'4痢??ㅽ꽣???쇱슫吏',72,'general',1,'2025-12-01 00:30:30'),(583,'4痢??ㅽ꽣???쇱슫吏',73,'general',1,'2025-12-01 00:30:30'),(584,'4痢??ㅽ꽣???쇱슫吏',74,'general',1,'2025-12-01 00:30:30'),(585,'4痢??ㅽ꽣???쇱슫吏',75,'general',1,'2025-12-01 00:30:30'),(586,'4痢??ㅽ꽣???쇱슫吏',76,'general',1,'2025-12-01 00:30:30'),(587,'4痢??ㅽ꽣???쇱슫吏',77,'general',1,'2025-12-01 00:30:30'),(588,'4痢??ㅽ꽣???쇱슫吏',78,'general',1,'2025-12-01 00:30:30'),(589,'4痢??ㅽ꽣???쇱슫吏',79,'general',1,'2025-12-01 00:30:30'),(590,'4痢??ㅽ꽣???쇱슫吏',80,'general',1,'2025-12-01 00:30:30'),(591,'4痢??ㅽ꽣???쇱슫吏',81,'general',1,'2025-12-01 00:30:30'),(592,'4痢??ㅽ꽣???쇱슫吏',82,'general',1,'2025-12-01 00:30:30'),(593,'4痢??ㅽ꽣???쇱슫吏',83,'general',1,'2025-12-01 00:30:30'),(594,'4痢??ㅽ꽣???쇱슫吏',84,'general',1,'2025-12-01 00:30:30'),(595,'4痢??ㅽ꽣???쇱슫吏',85,'general',1,'2025-12-01 00:30:30'),(596,'4痢??ㅽ꽣???쇱슫吏',86,'general',1,'2025-12-01 00:30:30'),(597,'4痢??ㅽ꽣???쇱슫吏',87,'general',1,'2025-12-01 00:30:30'),(598,'4痢??ㅽ꽣???쇱슫吏',88,'general',1,'2025-12-01 00:30:30'),(599,'4痢??ㅽ꽣???쇱슫吏',89,'general',1,'2025-12-01 00:30:30'),(600,'4痢??ㅽ꽣???쇱슫吏',90,'general',1,'2025-12-01 00:30:30'),(601,'4痢??ㅽ꽣???쇱슫吏',91,'general',1,'2025-12-01 00:30:30'),(602,'4痢??ㅽ꽣???쇱슫吏',92,'general',1,'2025-12-01 00:30:30'),(603,'4痢??ㅽ꽣???쇱슫吏',93,'general',1,'2025-12-01 00:30:30'),(604,'4痢??ㅽ꽣???쇱슫吏',94,'general',1,'2025-12-01 00:30:30'),(605,'4痢??ㅽ꽣???쇱슫吏',95,'general',1,'2025-12-01 00:30:30'),(606,'4痢??ㅽ꽣???쇱슫吏',96,'general',1,'2025-12-01 00:30:30'),(607,'4痢??ㅽ꽣???쇱슫吏',97,'general',1,'2025-12-01 00:30:30'),(608,'4痢??ㅽ꽣???쇱슫吏',98,'general',1,'2025-12-01 00:30:30'),(609,'4痢??ㅽ꽣???쇱슫吏',99,'general',1,'2025-12-01 00:30:30'),(610,'4痢??ㅽ꽣???쇱슫吏',100,'general',1,'2025-12-01 00:30:30'),(611,'4痢??ㅽ꽣???쇱슫吏',101,'general',1,'2025-12-01 00:30:30'),(612,'4痢??ㅽ꽣???쇱슫吏',102,'general',1,'2025-12-01 00:30:30'),(613,'4痢??ㅽ꽣???쇱슫吏',103,'general',1,'2025-12-01 00:30:30'),(614,'4痢??ㅽ꽣???쇱슫吏',104,'general',1,'2025-12-01 00:30:30'),(615,'4痢??ㅽ꽣???쇱슫吏',105,'general',1,'2025-12-01 00:30:30'),(616,'4痢??ㅽ꽣???쇱슫吏',106,'general',1,'2025-12-01 00:30:30'),(617,'4痢??ㅽ꽣???쇱슫吏',107,'general',1,'2025-12-01 00:30:30'),(618,'4痢??ㅽ꽣???쇱슫吏',108,'general',1,'2025-12-01 00:30:30'),(619,'4痢??ㅽ꽣???쇱슫吏',109,'general',1,'2025-12-01 00:30:30'),(620,'4痢??ㅽ꽣???쇱슫吏',110,'general',1,'2025-12-01 00:30:30'),(621,'4痢??ㅽ꽣???쇱슫吏',111,'general',1,'2025-12-01 00:30:30'),(622,'4痢??ㅽ꽣???쇱슫吏',112,'general',1,'2025-12-01 00:30:30'),(623,'4痢??ㅽ꽣???쇱슫吏',113,'general',1,'2025-12-01 00:30:30'),(624,'4痢??ㅽ꽣???쇱슫吏',114,'general',1,'2025-12-01 00:30:30'),(625,'4痢??ㅽ꽣???쇱슫吏',115,'general',1,'2025-12-01 00:30:30'),(626,'4痢??ㅽ꽣???쇱슫吏',116,'general',1,'2025-12-01 00:30:30'),(627,'4痢??ㅽ꽣???쇱슫吏',117,'general',1,'2025-12-01 00:30:30'),(628,'4痢??ㅽ꽣???쇱슫吏',118,'general',1,'2025-12-01 00:30:30'),(629,'4痢??ㅽ꽣???쇱슫吏',119,'general',1,'2025-12-01 00:30:30'),(630,'4痢??ㅽ꽣???쇱슫吏',120,'general',1,'2025-12-01 00:30:30'),(631,'4痢??ㅽ꽣???쇱슫吏',121,'general',1,'2025-12-01 00:30:30'),(632,'4痢??ㅽ꽣???쇱슫吏',122,'general',1,'2025-12-01 00:30:30'),(633,'4痢??ㅽ꽣???쇱슫吏',123,'general',1,'2025-12-01 00:30:30'),(634,'4痢??ㅽ꽣???쇱슫吏',124,'general',1,'2025-12-01 00:30:30'),(635,'4痢??ㅽ꽣???쇱슫吏',125,'general',1,'2025-12-01 00:30:30'),(636,'4痢??ㅽ꽣???쇱슫吏',126,'general',1,'2025-12-01 00:30:30'),(637,'4痢??ㅽ꽣???쇱슫吏',127,'general',1,'2025-12-01 00:30:30'),(638,'4痢??ㅽ꽣???쇱슫吏',128,'general',1,'2025-12-01 00:30:30'),(639,'4痢??ㅽ꽣???쇱슫吏',129,'general',1,'2025-12-01 00:30:30'),(640,'4痢??ㅽ꽣???쇱슫吏',130,'general',1,'2025-12-01 00:30:30'),(641,'4痢??ㅽ꽣???쇱슫吏',131,'general',1,'2025-12-01 00:30:30'),(642,'4痢??ㅽ꽣???쇱슫吏',132,'general',1,'2025-12-01 00:30:30'),(643,'4痢??ㅽ꽣???쇱슫吏',133,'general',1,'2025-12-01 00:30:30'),(644,'4痢??ㅽ꽣???쇱슫吏',134,'general',1,'2025-12-01 00:30:30'),(645,'4痢??ㅽ꽣???쇱슫吏',135,'general',1,'2025-12-01 00:30:30'),(646,'4痢??ㅽ꽣???쇱슫吏',136,'general',1,'2025-12-01 00:30:30'),(647,'4痢??ㅽ꽣???쇱슫吏',137,'general',1,'2025-12-01 00:30:30'),(648,'4痢??ㅽ꽣???쇱슫吏',138,'general',1,'2025-12-01 00:30:30'),(649,'4痢??ㅽ꽣???쇱슫吏',139,'general',1,'2025-12-01 00:30:30'),(650,'4痢??ㅽ꽣???쇱슫吏',140,'general',1,'2025-12-01 00:30:30'),(651,'4痢??ㅽ꽣???쇱슫吏',141,'general',1,'2025-12-01 00:30:30'),(652,'4痢??ㅽ꽣???쇱슫吏',142,'general',1,'2025-12-01 00:30:30'),(653,'4痢??ㅽ꽣???쇱슫吏',143,'general',1,'2025-12-01 00:30:30'),(654,'4痢??ㅽ꽣???쇱슫吏',144,'general',1,'2025-12-01 00:30:30'),(655,'4痢??ㅽ꽣???쇱슫吏',145,'general',1,'2025-12-01 00:30:30'),(656,'4痢??ㅽ꽣???쇱슫吏',146,'general',1,'2025-12-01 00:30:30'),(657,'4痢??ㅽ꽣???쇱슫吏',147,'general',1,'2025-12-01 00:30:30'),(658,'4痢??ㅽ꽣???쇱슫吏',148,'general',1,'2025-12-01 00:30:30'),(659,'4痢??ㅽ꽣???쇱슫吏',149,'general',1,'2025-12-01 00:30:30'),(660,'4痢??ㅽ꽣???쇱슫吏',150,'general',1,'2025-12-01 00:30:30'),(661,'4痢??ㅽ꽣???쇱슫吏',151,'general',1,'2025-12-01 00:30:30'),(662,'4痢??ㅽ꽣???쇱슫吏',152,'general',1,'2025-12-01 00:30:30'),(663,'4痢??ㅽ꽣???쇱슫吏',153,'general',1,'2025-12-01 00:30:30'),(664,'4痢??ㅽ꽣???쇱슫吏',154,'general',1,'2025-12-01 00:30:30'),(665,'4痢??ㅽ꽣???쇱슫吏',155,'general',1,'2025-12-01 00:30:30'),(666,'4痢??ㅽ꽣???쇱슫吏',156,'general',1,'2025-12-01 00:30:30'),(667,'4痢??ㅽ꽣???쇱슫吏',157,'general',1,'2025-12-01 00:30:30'),(668,'4痢??ㅽ꽣???쇱슫吏',158,'general',1,'2025-12-01 00:30:30'),(669,'4痢??ㅽ꽣???쇱슫吏',159,'general',1,'2025-12-01 00:30:30'),(670,'4痢??ㅽ꽣???쇱슫吏',160,'general',1,'2025-12-01 00:30:30'),(671,'4痢??ㅽ꽣???쇱슫吏',161,'general',1,'2025-12-01 00:30:30'),(672,'4痢??ㅽ꽣???쇱슫吏',162,'general',1,'2025-12-01 00:30:30'),(673,'4痢??ㅽ꽣???쇱슫吏',163,'general',1,'2025-12-01 00:30:30'),(674,'4痢??ㅽ꽣???쇱슫吏',164,'general',1,'2025-12-01 00:30:30'),(675,'4痢??ㅽ꽣???쇱슫吏',165,'general',1,'2025-12-01 00:30:30'),(676,'4痢??ㅽ꽣???쇱슫吏',166,'general',1,'2025-12-01 00:30:30'),(677,'4痢??ㅽ꽣???쇱슫吏',167,'general',1,'2025-12-01 00:30:30'),(678,'4痢??ㅽ꽣???쇱슫吏',168,'general',1,'2025-12-01 00:30:30'),(679,'4痢??ㅽ꽣???쇱슫吏',169,'general',1,'2025-12-01 00:30:30'),(680,'4痢??ㅽ꽣???쇱슫吏',170,'general',1,'2025-12-01 00:30:30'),(681,'4痢??ㅽ꽣???쇱슫吏',171,'general',1,'2025-12-01 00:30:30'),(682,'4痢??ㅽ꽣???쇱슫吏',172,'general',1,'2025-12-01 00:30:30'),(683,'4痢??ㅽ꽣???쇱슫吏',173,'general',1,'2025-12-01 00:30:30'),(684,'4痢??ㅽ꽣???쇱슫吏',174,'general',1,'2025-12-01 00:30:30'),(685,'4痢??ㅽ꽣???쇱슫吏',175,'general',1,'2025-12-01 00:30:30'),(686,'4痢??ㅽ꽣???쇱슫吏',176,'general',1,'2025-12-01 00:30:30'),(687,'4痢??ㅽ꽣???쇱슫吏',177,'general',1,'2025-12-01 00:30:30'),(688,'4痢??ㅽ꽣???쇱슫吏',178,'general',1,'2025-12-01 00:30:30'),(689,'4痢??ㅽ꽣???쇱슫吏',179,'general',1,'2025-12-01 00:30:30'),(690,'4痢??ㅽ꽣???쇱슫吏',180,'general',1,'2025-12-01 00:30:30'),(691,'4痢??ㅽ꽣???쇱슫吏',181,'general',1,'2025-12-01 00:30:30'),(692,'4痢??ㅽ꽣???쇱슫吏',182,'general',1,'2025-12-01 00:30:30'),(693,'4痢??ㅽ꽣???쇱슫吏',183,'general',1,'2025-12-01 00:30:30'),(694,'4痢??ㅽ꽣???쇱슫吏',184,'general',1,'2025-12-01 00:30:30'),(695,'4痢??ㅽ꽣???쇱슫吏',185,'general',1,'2025-12-01 00:30:30'),(696,'4痢??ㅽ꽣???쇱슫吏',186,'general',1,'2025-12-01 00:30:30'),(697,'4痢??ㅽ꽣???쇱슫吏',187,'general',1,'2025-12-01 00:30:30'),(698,'4痢??ㅽ꽣???쇱슫吏',188,'general',1,'2025-12-01 00:30:30'),(699,'4痢??ㅽ꽣???쇱슫吏',189,'general',1,'2025-12-01 00:30:30'),(700,'4痢??ㅽ꽣???쇱슫吏',190,'general',1,'2025-12-01 00:30:30'),(701,'4痢??ㅽ꽣???쇱슫吏',191,'general',1,'2025-12-01 00:30:30'),(702,'4痢??ㅽ꽣???쇱슫吏',192,'general',1,'2025-12-01 00:30:30'),(703,'4痢??ㅽ꽣???쇱슫吏',193,'general',1,'2025-12-01 00:30:30'),(704,'4痢??ㅽ꽣???쇱슫吏',194,'general',1,'2025-12-01 00:30:30'),(705,'4痢??ㅽ꽣???쇱슫吏',195,'general',1,'2025-12-01 00:30:30'),(706,'4痢??ㅽ꽣???쇱슫吏',196,'general',1,'2025-12-01 00:30:30'),(707,'4痢??ㅽ꽣???쇱슫吏',197,'general',1,'2025-12-01 00:30:30'),(708,'4痢??ㅽ꽣???쇱슫吏',198,'general',1,'2025-12-01 00:30:30'),(709,'4痢??ㅽ꽣???쇱슫吏',199,'general',1,'2025-12-01 00:30:30'),(710,'4痢??ㅽ꽣???쇱슫吏',200,'general',1,'2025-12-01 00:30:30'),(711,'4痢??ㅽ꽣???쇱슫吏',201,'general',1,'2025-12-01 00:30:30'),(712,'4痢??ㅽ꽣???쇱슫吏',202,'general',1,'2025-12-01 00:30:30'),(713,'4痢??ㅽ꽣???쇱슫吏',203,'general',1,'2025-12-01 00:30:30'),(714,'4痢??ㅽ꽣???쇱슫吏',204,'general',1,'2025-12-01 00:30:30'),(715,'4痢??ㅽ꽣???쇱슫吏',205,'general',1,'2025-12-01 00:30:30'),(716,'4痢??ㅽ꽣???쇱슫吏',206,'general',1,'2025-12-01 00:30:30'),(717,'4痢??ㅽ꽣???쇱슫吏',207,'general',1,'2025-12-01 00:30:30'),(718,'4痢??ㅽ꽣???쇱슫吏',208,'general',1,'2025-12-01 00:30:30'),(719,'4痢??ㅽ꽣???쇱슫吏',209,'general',1,'2025-12-01 00:30:30'),(720,'4痢??ㅽ꽣???쇱슫吏',210,'general',1,'2025-12-01 00:30:30'),(721,'4痢??ㅽ꽣???쇱슫吏',211,'general',1,'2025-12-01 00:30:30'),(722,'4痢??ㅽ꽣???쇱슫吏',212,'general',1,'2025-12-01 00:30:30'),(723,'4痢??ㅽ꽣???쇱슫吏',213,'general',1,'2025-12-01 00:30:30'),(724,'4痢??ㅽ꽣???쇱슫吏',214,'general',1,'2025-12-01 00:30:30'),(725,'4痢??ㅽ꽣???쇱슫吏',215,'general',1,'2025-12-01 00:30:30'),(726,'4痢??ㅽ꽣???쇱슫吏',216,'general',1,'2025-12-01 00:30:30'),(727,'4痢??ㅽ꽣???쇱슫吏',217,'general',1,'2025-12-01 00:30:30'),(728,'4痢??ㅽ꽣???쇱슫吏',218,'general',1,'2025-12-01 00:30:30'),(729,'4痢??ㅽ꽣???쇱슫吏',219,'general',1,'2025-12-01 00:30:30'),(730,'4痢??ㅽ꽣???쇱슫吏',220,'general',1,'2025-12-01 00:30:30'),(731,'4痢??ㅽ꽣???쇱슫吏',221,'general',1,'2025-12-01 00:30:30'),(732,'4痢??ㅽ꽣???쇱슫吏',222,'general',1,'2025-12-01 00:30:30'),(733,'4痢??ㅽ꽣???쇱슫吏',223,'general',1,'2025-12-01 00:30:30'),(734,'4痢??ㅽ꽣???쇱슫吏',224,'general',1,'2025-12-01 00:30:30'),(735,'4痢??ㅽ꽣???쇱슫吏',225,'general',1,'2025-12-01 00:30:30'),(736,'4痢??ㅽ꽣???쇱슫吏',226,'general',1,'2025-12-01 00:30:30'),(737,'4痢??ㅽ꽣???쇱슫吏',227,'general',1,'2025-12-01 00:30:30'),(738,'4痢??ㅽ꽣???쇱슫吏',228,'general',1,'2025-12-01 00:30:30'),(739,'4痢??ㅽ꽣???쇱슫吏',229,'general',1,'2025-12-01 00:30:30'),(740,'4痢??ㅽ꽣???쇱슫吏',230,'general',1,'2025-12-01 00:30:30'),(741,'4痢??ㅽ꽣???쇱슫吏',231,'general',1,'2025-12-01 00:30:30'),(742,'4痢??ㅽ꽣???쇱슫吏',232,'general',1,'2025-12-01 00:30:30'),(743,'4痢??ㅽ꽣???쇱슫吏',233,'general',1,'2025-12-01 00:30:30'),(744,'4痢??ㅽ꽣???쇱슫吏',234,'general',1,'2025-12-01 00:30:30'),(745,'4痢??ㅽ꽣???쇱슫吏',235,'general',1,'2025-12-01 00:30:30'),(746,'4痢??ㅽ꽣???쇱슫吏',236,'general',1,'2025-12-01 00:30:30'),(747,'4痢??ㅽ꽣???쇱슫吏',237,'general',1,'2025-12-01 00:30:30'),(748,'4痢??ㅽ꽣???쇱슫吏',238,'general',1,'2025-12-01 00:30:30'),(749,'4痢??ㅽ꽣???쇱슫吏',239,'general',1,'2025-12-01 00:30:30'),(750,'4痢??ㅽ꽣???쇱슫吏',240,'general',1,'2025-12-01 00:30:30'),(751,'4痢??ㅽ꽣???쇱슫吏',241,'general',1,'2025-12-01 00:30:30'),(752,'4痢??ㅽ꽣???쇱슫吏',242,'general',1,'2025-12-01 00:30:30'),(753,'4痢??ㅽ꽣???쇱슫吏',243,'general',1,'2025-12-01 00:30:30'),(754,'4痢??ㅽ꽣???쇱슫吏',244,'general',1,'2025-12-01 00:30:30'),(755,'4痢??ㅽ꽣???쇱슫吏',245,'general',1,'2025-12-01 00:30:30'),(756,'4痢??ㅽ꽣???쇱슫吏',246,'general',1,'2025-12-01 00:30:30'),(757,'4痢??ㅽ꽣???쇱슫吏',247,'general',1,'2025-12-01 00:30:30'),(758,'4痢??ㅽ꽣???쇱슫吏',248,'general',1,'2025-12-01 00:30:30'),(759,'4痢??ㅽ꽣???쇱슫吏',249,'general',1,'2025-12-01 00:30:30'),(760,'4痢??ㅽ꽣???쇱슫吏',250,'general',1,'2025-12-01 00:30:30'),(761,'4痢??ㅽ꽣???쇱슫吏',251,'general',1,'2025-12-01 00:30:30'),(762,'4痢??ㅽ꽣???쇱슫吏',252,'general',1,'2025-12-01 00:30:30'),(763,'4痢??ㅽ꽣???쇱슫吏',253,'general',1,'2025-12-01 00:30:30'),(764,'4痢??ㅽ꽣???쇱슫吏',254,'general',1,'2025-12-01 00:30:30'),(765,'4痢??ㅽ꽣???쇱슫吏',255,'general',1,'2025-12-01 00:30:30'),(766,'4痢??ㅽ꽣???쇱슫吏',256,'general',1,'2025-12-01 00:30:30'),(767,'4痢??ㅽ꽣???쇱슫吏',257,'general',1,'2025-12-01 00:30:30'),(768,'4痢??ㅽ꽣???쇱슫吏',258,'general',1,'2025-12-01 00:30:30'),(769,'4痢??ㅽ꽣???쇱슫吏',259,'general',1,'2025-12-01 00:30:30'),(770,'4痢??ㅽ꽣???쇱슫吏',260,'general',1,'2025-12-01 00:30:30'),(771,'4痢??ㅽ꽣???쇱슫吏',261,'general',1,'2025-12-01 00:30:30'),(772,'4痢??ㅽ꽣???쇱슫吏',262,'general',1,'2025-12-01 00:30:30'),(773,'4痢??ㅽ꽣???쇱슫吏',263,'general',1,'2025-12-01 00:30:30'),(774,'4痢??ㅽ꽣???쇱슫吏',264,'general',1,'2025-12-01 00:30:30'),(775,'4痢??ㅽ꽣???쇱슫吏',265,'general',1,'2025-12-01 00:30:30'),(776,'4痢??ㅽ꽣???쇱슫吏',266,'general',1,'2025-12-01 00:30:30'),(777,'4痢??ㅽ꽣???쇱슫吏',267,'general',1,'2025-12-01 00:30:30'),(778,'4痢??ㅽ꽣???쇱슫吏',268,'general',1,'2025-12-01 00:30:30'),(779,'4痢??ㅽ꽣???쇱슫吏',269,'general',1,'2025-12-01 00:30:30'),(780,'4痢??ㅽ꽣???쇱슫吏',270,'general',1,'2025-12-01 00:30:30'),(781,'4痢??ㅽ꽣???쇱슫吏',271,'general',1,'2025-12-01 00:30:30'),(782,'4痢??ㅽ꽣???쇱슫吏',272,'general',1,'2025-12-01 00:30:30'),(783,'4痢??ㅽ꽣???쇱슫吏',273,'general',1,'2025-12-01 00:30:30'),(784,'4痢??ㅽ꽣???쇱슫吏',274,'general',1,'2025-12-01 00:30:30'),(785,'4痢??ㅽ꽣???쇱슫吏',275,'general',1,'2025-12-01 00:30:30'),(786,'4痢??ㅽ꽣???쇱슫吏',276,'general',1,'2025-12-01 00:30:30'),(787,'4痢??ㅽ꽣???쇱슫吏',277,'general',1,'2025-12-01 00:30:30'),(788,'4痢??ㅽ꽣???쇱슫吏',278,'general',1,'2025-12-01 00:30:30'),(789,'4痢??ㅽ꽣???쇱슫吏',279,'general',1,'2025-12-01 00:30:30'),(790,'4痢??ㅽ꽣???쇱슫吏',280,'general',1,'2025-12-01 00:30:30'),(1022,'硫?곕??붿뼱??,1,'pc',1,'2025-12-01 00:30:30'),(1023,'硫?곕??붿뼱??,2,'pc',1,'2025-12-01 00:30:30'),(1024,'硫?곕??붿뼱??,3,'pc',1,'2025-12-01 00:30:30'),(1025,'硫?곕??붿뼱??,4,'pc',1,'2025-12-01 00:30:30'),(1026,'硫?곕??붿뼱??,5,'pc',1,'2025-12-01 00:30:30'),(1027,'硫?곕??붿뼱??,6,'pc',1,'2025-12-01 00:30:30'),(1028,'硫?곕??붿뼱??,7,'pc',1,'2025-12-01 00:30:30'),(1029,'硫?곕??붿뼱??,8,'pc',1,'2025-12-01 00:30:30'),(1030,'硫?곕??붿뼱??,9,'pc',1,'2025-12-01 00:30:30'),(1031,'硫?곕??붿뼱??,10,'pc',1,'2025-12-01 00:30:30'),(1032,'硫?곕??붿뼱??,11,'pc',1,'2025-12-01 00:30:30'),(1033,'硫?곕??붿뼱??,12,'pc',1,'2025-12-01 00:30:30'),(1034,'硫?곕??붿뼱??,13,'pc',1,'2025-12-01 00:30:30'),(1035,'硫?곕??붿뼱??,14,'pc',1,'2025-12-01 00:30:30'),(1036,'硫?곕??붿뼱??,15,'pc',1,'2025-12-01 00:30:30'),(1037,'硫?곕??붿뼱??,16,'pc',1,'2025-12-01 00:30:30');
/*!40000 ALTER TABLE `seats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `overdueloans`
--

/*!50001 DROP VIEW IF EXISTS `overdueloans`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `overdueloans` AS select `l`.`loan_id` AS `loan_id`,`m`.`name` AS `member_name`,`m`.`student_id` AS `student_id`,`b`.`title` AS `book_title`,`l`.`loan_date` AS `loan_date`,`l`.`due_date` AS `due_date`,to_days(curdate()) - to_days(`l`.`due_date`) AS `days_overdue`,`l`.`fine_amount` AS `fine_amount` from ((`loans` `l` join `members` `m` on(`l`.`member_id` = `m`.`member_id`)) join `books` `b` on(`l`.`book_id` = `b`.`book_id`)) where `l`.`status` = 'overdue' or `l`.`status` = 'borrowed' and `l`.`due_date` < curdate() */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `popularbooks`
--

/*!50001 DROP VIEW IF EXISTS `popularbooks`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `popularbooks` AS select `b`.`book_id` AS `book_id`,`b`.`title` AS `title`,`b`.`author` AS `author`,`b`.`category` AS `category`,count(`l`.`loan_id`) AS `loan_count`,avg(`r`.`rating`) AS `avg_rating` from ((`books` `b` left join `loans` `l` on(`b`.`book_id` = `l`.`book_id`)) left join `reviews` `r` on(`b`.`book_id` = `r`.`book_id`)) group by `b`.`book_id`,`b`.`title`,`b`.`author`,`b`.`category` order by count(`l`.`loan_id`) desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-02 17:21:21
